<div class="about-into-wrapper">
  <div class="about-intro">
    <div class="about-hello">
      Hello, I'm Claire.
    </div>
    <div class="about-portrait">
      <div class="portrait-circle">
        <img src="images/self.jpg"/>
      </div>
    </div>
    <div class="about-skillz">
      I like making things with <span class="subjectz">many different tools.</span>
      <br>
      <br>
      <!-- <p class="looking">I'm currently seeking an engineering position in the SF Bay Area. If your team is looking for an fledgling developer with a propensity for challenge, reach out!
      </p> -->
    </div>
  </div>
  <div class="about-resume">
    <div class="resume-circle">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
    <rect x="106" y="62" fill="#4D4D4D" width="290" height="375"/>
    <rect x="193" y="102" fill="#F4F5E7" width="116" height="21"/>
    <rect x="137" y="165" fill="#F4F5E7" width="228" height="17"/>
    <rect x="137" y="234" fill="#F4F5E7" width="228" height="16"/>
    <rect x="137" y="305" fill="#F4F5E7" width="228" height="16"/>
    <rect x="137" y="377" fill="#F4F5E7" width="228" height="16"/>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    </svg>
  </div>
  RESUME
  </div>
</div>
<div class="about-info">
  <div class="github-widget">
    <p> My GitHub account is at present time <span class"git-ruby"></span>% Ruby,
      <span class"git-javascript"></span>% JavaScript,
      <span class"git-css"></span>% CSS,
      and <span class"git-html"></span>% HTML.
    </p>
  </div>
  <div class="reservoir-about">

  </div>
  <script>
    $(function() {
        var counter = 0
        var interests = ["Ruby",
                         "Rails",
                         "paper",
                         "pens",
                         "SQL",
                         "Adobe CS",
                         "Sketch",
                         "JavaScript",
                         "cameras",
                         "HTML",
                         "paints & pigments",
                         "JQuery",
                         "people",
                         "D3",
                         "spreadsheets",
                         "CSS",
                         "sewing machines",
                         "power tools",
                         "hand tools",
                         "printing presses",
                         "SMS",
                         "React",
                         "wheelbarrows",
                         "community",
                         "irrigation equipment",
                         "hot glue guns",
                         "soldering irons",
                         "data",
                         "knitting needles",
                         "utility knives"]
        setInterval(function(){
          $('.subjectz').html(interests[counter]);
          if (counter === interests.length) {
            counter = 0
          } else {
          counter += 1
          }
        }, 2000);
        var hashed = {
          "HTML":0,
          "CSS":0,
          "JavaScript":0,
          "Ruby":0
        }
        function gitStats() {
          $.get('https://api.github.com/users/adynata/repos', function(data){
            // console.log(data[0]);
            var totalCode = 0
            for (var i = 0; i < data.length; i++) {
              (function() {
              languages_url = data[i]["languages_url"];

              $.get(languages_url, function(data){

                var keys = Object.keys(data);
                for (var j = 0; j < keys.length; j++) {
                  (function(){
                  if (hashed.hasOwnProperty([keys[j]])) {
                      hashed[keys[j]] += data[keys[j]];
                      totalCode += data[keys[j]];
                      // console.log(keys[j]);
                      // console.log(data[keys[j]]);
                      // console.log(hashed);
                      // console.log(data);
                    }
                    })(j);
                    // console.log(hashed); works here

                  }
                  console.log(hashed);
                  console.log(totalCode);
                  var ruby = (Math.floor(hashed["Ruby"]/totalCode*100));
                  var jScr = (Math.floor(hashed["JavaScript"]/totalCode*100));
                  var css = (Math.floor(hashed["CSS"]/totalCode*100));
                  var htMl = (Math.floor(hashed["HTML"]/totalCode*100));
                  console.log($('.git-css'));
                  $('.git-ruby').text(ruby);
                  $('.git-javascript').text(jScr);
                  $('.git-css').text(css);
                  $('.git-html').text(htMl);
                  // $('.subjectz').html("BOOM");

              });
            })(i);
            // console.log(hashed); wont work here

        }

      });
      // return hashed;
    }

        gitStats();
        // console.log("STATS");
        // console.log(stats);

      });




  </script>


</div>
