<div class="about-intro-wrapper">
  <svg  class="about-background" xmlns='http://www.w3.org/2000/svg' count='100%' height='100%'>
    <circle cx='50%' cy='50%' r='5%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='10%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='15%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='20%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='25%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='30%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='35%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='40%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='45%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='50%' r='50%' fill-opacity='.3' fill='#a3a3a3' />
    <circle cx='50%' cy='-10%' r='20%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='30%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='40%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='50%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='60%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='70%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='80%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='90%' fill-opacity='.2' fill='#535a76' />
    <circle cx='50%' cy='-10%' r='100%' fill-opacity='.2' fill='#535a76' />
    <circle cx='0' cy='0' r='10%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='20%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='30%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='40%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='50%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='60%' fill-opacity='.2' fill='#89858d' />
    <circle cx='0' cy='0' r='70%' fill-opacity='.2' fill='#89858d' />
    <circle cx='100%' cy='0' r='10%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='20%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='30%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='40%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='50%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='60%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='0' r='70%' fill-opacity='.1' fill='#a3ffaf' />
    <circle cx='100%' cy='100%' r='10%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='20%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='30%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='40%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='50%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='60%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='100%' cy='100%' r='70%' fill-opacity='.1' fill='#f7f742' />
    <circle cx='0%' cy='100%' r='10%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='20%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='30%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='40%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='50%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='60%' fill-opacity='.1' fill='#ecca9c' />
    <circle cx='0%' cy='100%' r='70%' fill-opacity='.1' fill='#ecca9c' />
  </svg>
  <div class="about-intro">
    <div class="about-hello">
      Hello, I'm Claire.
      <br>
    </div>
    <div class="about-portrait">
      <div class="portrait-circle">
        <img src="images/self.jpg"/>
      </div>
    </div>
    <div class="about-skillz">
      I like making things with <br><span class="subjectz">many different tools</span>
    </div>
  </div>
  <div class="about-resume">
    <div class="about-looking">
      <p class="looking">I'm currently seeking an engineering position in the SF Bay Area. If your team is looking for an fledgling developer with a propensity for challenge, reach out!
      </p>
    </div>
    <div class="resume-circle-container">
    <div class="resume-circle">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
        <rect x="106" y="62" fill="#FFF" width="290" height="375"/>
        <rect x="193" y="102" fill="#4D4D4D" width="116" height="21"/>
        <rect x="137" y="165" fill="#4D4D4D" width="228" height="17"/>
        <rect x="137" y="234" fill="#4D4D4D" width="228" height="16"/>
        <rect x="137" y="305" fill="#4D4D4D" width="228" height="16"/>
        <rect x="137" y="377" fill="#4D4D4D" width="228" height="16"/>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
    </div>
    <p>
      RESUME
    </p>
  </div>

  </div>
  <div class="about-info">
    <div class="reservoir-about">
      <div class="reservoir-title">
        <h2>HIGHLIGHTED PROJECT</h2>
      </div>
      <div class="reservoir-about-picture">
        <a class="water-p" target="_blank" href="http://www.california-reservoir.info"><img src="images/resrev.png"/></a>
      </div>
      <div class="reservoir-about-desc">
        <span>The California Reservoir Review is an interactive map that visualizes public data related to the most significant reservoirs in the state and how their levels have fluctuated over the last 25 years. The app was built with D3 and NVD3 on a Rails back end, using Nokogiri.</span>
      </div>
    </div>
    <div class="github-widget">
      <p> My GitHub account is at present time <span class="git-ruby"></span>% Ruby,
        <span class="git-javascript"></span>% JavaScript,
        <span class="git-css"></span>% CSS,
        and <span class="git-html"></span>% HTML.
      </p>
    </div>
  </div>
</div>


  <script>
    $(function() {
        var counter = 0
        var interests = ["Ruby.",
                         "Rails.",
                         "D3.",
                         "paper.",
                         "SQL.",
                         "pens.",
                         "Adobe CS.",
                         "Sketch.",
                         "JavaScript.",
                         "cameras.",
                         "HTML.",
                         "paints & pigments.",
                         "JQuery.",
                         "people.",
                         "spreadsheets.",
                         "CSS.",
                         "sewing machines.",
                         "power tools.",
                         "hand tools.",
                         "printing presses.",
                         "SMS.",
                         "React.",
                         "wheelbarrows.",
                         "community.",
                         "irrigation equipment.",
                         "hot glue guns.",
                         "soldering irons.",
                         "data.",
                         "knitting needles.",
                         "utility knives."]
        setInterval(function(){
          $('.subjectz').html(interests[counter]);
          if (counter === interests.length) {
            counter = 0
          } else {
          counter += 1
          }
        }, 2000);
        var hashed = {
          "HTML":0,
          "CSS":0,
          "JavaScript":0,
          "Ruby":0
        }
        function gitStats() {
          $.get('https://api.github.com/users/adynata/repos', function(data){
            // console.log(data[0]);
            var totalCode = 0
            for (var i = 0; i < data.length; i++) {
              (function() {
              languages_url = data[i]["languages_url"];

              $.get(languages_url, function(data){

                var keys = Object.keys(data);
                for (var j = 0; j < keys.length; j++) {
                  (function(){
                  if (hashed.hasOwnProperty([keys[j]])) {
                      hashed[keys[j]] += data[keys[j]];
                      totalCode += data[keys[j]];
                    }
                    })(j);

                  }
                  setTimeout(function() {
                    setStats(hashed);
                  }, 2000);

              });
            })(i);
            function setStats(hashed) {
              var ruby = (Math.floor(hashed["Ruby"]/totalCode*100));
              var jScr = (Math.floor(hashed["JavaScript"]/totalCode*100));
              var css = (Math.floor(hashed["CSS"]/totalCode*100));
              var htMl = (Math.floor(hashed["HTML"]/totalCode*100));

              $('.git-ruby').text(ruby);
              $('.git-javascript').text(jScr);
              $('.git-css').text(css);
              $('.git-html').text(htMl);
            }

        }

      });
    }

        gitStats();

      });
    function resTextFit() {
      $('.reservoir-about-desc').textfill({
        widthOnly: false,
        maxFontPixels: 24,
        minFontPixels: 12,
        changeLineHeight: false,
        explicitHeight: 200,
      });
    }

    function lookingTextFit() {
      $('.about-looking').textfill({
        widthOnly: false,
        maxFontPixels: 24,
        minFontPixels: 10,
        changeLineHeight: false,
        explicitHeight: 200,
        innerTag: 'p'
      });
    }

    $(window).on('resize',function() {
      resTextFit();
      lookingTextFit();
    });

    setTimeout(function() {
      resTextFit();
      lookingTextFit();
    }, 1000);


  </script>
