<div class="about-into-wrapper">
  <div class="about-intro">
    <div class="about-hello">
      Hello, I'm Claire.
    </div>
    <div class="about-portrait">
      <img src="images/self.jpg"/>
    </div>
    <div class="about-skillz">
      I like making things with <span class="subjectz">many different tools.</span>
    </div>
  </div>
  <div class="about-resume">
    this is where my resume goes. Pretend it's here!
  </div>
</div>
<div class="about-info">
  <div class="github-widget">
    chart goes here
  </div>
  <div class="reservoir-about">
    thing I made
  </div>
</div>
