<div class="menu-container">
  <div class="menu-bits">
    <div class="sub-menu">
      <h2>BITS</h2>
    </div>
    <div class="project">
      <a class="lion-p" href="#lion"><img src="images/lion.png"/><p>fig 1. Lion Facts</p>
      </a>

    </div>
    <div class="project">
      <a class="lion-p" href="#lion"><img src="images/lion.png"/><p>fig 1. Lion Facts</p>
      </a>
    </div>
    <!-- <div class="project">
      <a href="#lion"><img src="images/lion.png"/><p>fig 1. Lion Facts</p>
      </a>
    </div>
    <div class="project">
      <a href="#lion"><img src="images/lion.png"/><p>fig 1. Lion Facts</p>
      </a>
    </div> -->
  </div>
  <div class="menu-atoms">
    <div class="sub-menu">
      <h2>ATOMS</h2>
    </div>
    <div class="project ">
      <a class="moon-p" href="#moon"><img src="images/moon.png"/><p>fig 1. Ark od the Moon</p>
      </a>

    </div>
    <div class="project">
      <a class="moon-p" href="#moon"><img src="images/moon.png"/><p>fig 1. Ark od the Moon</p>
      </a>
    </div>
    <!-- <div class="project">
      <a href="#moon"><img src="images/moon.png"/><p>fig 1. Ark od the Moon</p>
      </a>
    </div>
    <div class="project">
      <a href="#moon"><img src="images/moon.png"/><p>fig 1. Ark od the Moon</p>
      </a>
    </div> -->
  </div>
  <div class="minor-projects">
    <ul>
      <li>thing</li>
      <li>thing</li>
      <li>thing</li>
      <li>thing</li>
      <li>thing</li>
    </ul>
  </div>

</div>
