.about-content {
  position: relative;
  background-color:  #27334a;
  display: block;
  height: auto;
  width: 100%;
  /*display: none;*/
  overflow: auto;
  font-size: 2em;
}

.about-background {
  width: 100%;
  height: 100%;
  position: absolute;
}


.about-intro{
  width: 70%;
  margin-right: auto;
  margin-left: 15%;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: auto;
  color: #27334a;
  /*background-color:  #464749;*/
  float: left;
}

.subjectz {
  font-weight: 300;
  color: #f58269;
}

.about-hello {
  font-size: 1em;
  /*background-color:  #464749;*/
  float: right;
  width: calc(100% - 250px);
  height: 80px;
  /*margin-top: 15px;*/
  color: #27334a;
}

.about-portrait  {
  width: auto;
  float: left;
  background-color: none;
  margin-right: 20px
}

.about-portrait img {
  height: 200px;
  width: 200px;
  border-radius: 120px;
  border: 5px solid #464749;
}

.portrait-circle {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 120px;
}

.about-skillz {
  float: right;
  display: block;
  width: calc(100% - 250px);
  height: 80px;
  margin-left: 15px;
  font-size: .9em;
  color: #27334a;
}

.about-looking {
  float: left;
  display: inline-block;
  width: calc(75% - 200px);
  padding: 5%;
  height: 200px;
}

.looking {
  font-size: .8em;
}

.about-resume {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  color: #27334a;
  font-weight: 300;
}

.resume-circle-container {
  margin-right: 15%;
  display: inline-block;
  width: 200px;
  float: right;
}


.resume-circle {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #4D4D4D;
  border-radius: 120px;
}

.resume-circle svg {
  margin-top: 30px;
  height: 135px;
  width: 135px;
  fill: white;
}

.about-info {
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  height: auto;
  float: left;
  background-color: none;
  width: 100%;
  margin: 0;
}

.reservoir-about, .github-widget {
  width: calc(100% - 160px);
  height: auto;
  margin-bottom: 20px;
  display: block;
}

.reservoir-about-picture {
  height: auto;
  width: auto;
  margin: 10px;
  float: left;
  display: inline-block;
}

.reservoir-title {
  text-align: center;
  width: 100%;
  height: auto;
  background-color:rgba(162, 222, 197, 0.4);
}

.reservoir-about-desc {
  font-weight: 100;
  float: right;
  text-align: left;
  display: inline-block;
  width: calc(100% - 226px);
  height: auto;
  padding: 10px;
  line-height: 34px;
}

.reservoir-about-picture img {
  height: 180px;
  width: 180px;
  border: 3px solid grey;

}

.github-widget {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
  float: left;
  background-color: none;
  color: #27334a;
  font-size: .5em;
  text-align: center;
}

.reservoir-about {
  margin-right: 80px;
  margin-left: 80px;
  float: left;
  background-color:rgba(162, 222, 197, 0.2);
}


@media (max-width: 1000px){

  .about-intro {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    display: block;
  }

  .about-resume {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
  }

  .resume-circle{
    margin-left: auto;
    margin-right: auto;
  }


}

@media (max-width: 800px){
  .about-skillz {
    font-size: .7em;
  }

  .reservoir-about {
    width: 80%;
    margin-left: 9%;
    margin-right: auto;
  }

  .reservoir-about-picture {
    width: 100%;
    margin: 0px;
    margin-top: 35px;
  }
  .reservoir-about-picture img {
    margin-left: auto;
    margin-right: auto;
  }

  .reservoir-about-desc {
    width: 90%;
    padding: 5%;
    font-size: .6em;
  }
}

@media (max-width: 700px){
  .about-hello, .about-skillz {
    float: left;
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .subjectz {
    color: white;
  }

  .about-portrait {
    width: calc(100% - 10px);
    margin-right: 0;
  }

  .about-skillz {
    margin-top: 25px;
    margin-left: 0px;
    width: 100%;
    font-size: .6em;
  }

  .about-looking {
    width: 100%;
    padding: 0;
    margin-bottom: 45px;
  }

  .looking {
    font-size: .7em;
  }

  .resume-circle-container {
    width: 100%;
    margin-right: 0;
  }

  .portrait-circle {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .about-intro {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
  }

  .about-resume {
    margin-top: 25px;
  }

  .looking {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-hello {
    margin-top: 15px;
  }

  .reservoir-title {
    font-size: .6em;
  }

}
