.bionn-content {
    position: relative;
    background-color: #464749;
    height: 550px;
    width: auto;
    display: none;
    overflow: auto;
}

.bionn-map {
  position: relative;
  height: 100%;
  width: 50%;

}
