

html, body {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  font-family: 'Martel Sans', sans-serif;
  overflow: hidden;
  height: auto;
}


.menu-components-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.menu-sidebar {
  text-align: center;
  position: absolute;
  width: 55px;
  height: 100%;
  float: left;
  background-color: #95afc1;
  z-index: 550;
}

.menu-text {
  /*padding: 0px;
  left: 0px;*/
  /*margin-bottom: 20px;*/
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 9999;
  width: 100px;
  height: 135px;
  color: rgb(59, 57, 52);
  transform: rotate(270deg);
  font-size: 1.2em;
}

.menu-text:hover {
  color: black;
}

.wrapper {
  position: absolute;
  width: calc(100% - 55px);
  left: 55px;
  height: 100%;
  overflow: auto;

}

.wrapper-content {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(59, 57, 52);
  z-index: 0;
  height: 100%;
  float: right;
  overflow: auto;
  overflow-x: hidden;

  /*display: none;*/
  /*transform:translate(95%, 0px);*/
}

.hot-spot {
  position: absolute;
  /*background-color: black;*/
  width: 55px;
  height: 100%;
  z-index: 700;
  overflow-y: hidden;
  /*display: none;*/
}

.hide {
  transform: translateX(85%);
  transition-delay: 0s;
  transition-duration: 0.8s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  z-index: 500;
}

.show {
  transform: matrix(1,0,0,1,0,0);
  transition-delay: 0s;
  transition-duration: 0.8s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  z-index: 500;
}

.menu-sidebar:hover {
  background-color: #DDE030;
}

header {
  position: relative;
  width: 100%;
  height: 110px;
  background-color: rgb(59, 57, 52);
}

.logo {
  text-align: right;
  float: right;
  width: 100%;
  height: 60%;
}


.bionn-content {
  position: relative;
  display: none;
}

.menu-content {
  position: relative;
  height: auto;
  width: 100%;
  background-color: black;
  display: none;
  overflow: auto;
}

.logo h1 {
  font-size: 34px;
  margin-top: 6px;
  margin-right: 35px;
  line-height: 66px;
  /*background-color: rgb(209, 207, 201);*/
  text-align: center;
  width: 260px;
  color: #DDE030;

  float: right;
  font-weight: 100;
}

.main-content {
  position: relative;
  height: auto;
  overflow: auto;
}

footer {
  width: 100%;
  height: 110px;
  background-color: rgb(59, 57, 52);
}

.header-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header-nav-links {
  position: relative;
  float: left;
  height: 40%;
  width: 100%;
  background-color: rgb(59, 57, 52);
}

.header-nav-links ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
  width: auto;
  height: 100%;
  color: #DFDFDF;
  text-decoration: none;
  font-weight: lighter;
  text-align: center;
  font-variant-caps: small-caps;
}

.header-nav-links ul li {
  float: left;
  color: white;
  background-color: rgb(59, 57, 52);
  top: 5px;
}

.header-nav-links ul li:hover {
  opacity: .6;
  color: white;
}

.header-nav-links h2 {
  position: relative;
  text-align: center;
  float: right;
  height: 100%;
  width: 260px;
  color: #DDE030;
  font-size: 1em;
  z-index: 800;
  background-color: rgb(59, 57, 52);
  font-weight: lighter;
  margin-right: 35px;
  line-height: 44px;
}

.nav-buttons {
  text-align: center;
  line-height: 46px;
  height: 100%;
  width: 220px;
  /*border-left: 2px solid  #DFDFDF;*/
}

.contact {
   /*border-right: 2px solid  #DFDFDF;*/
}

.nav-buttons:hover {
  color: #DFDFDF;
}

li.projects {
  display: none;
}


.social-links {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 20px;
  text-align: center;
}

.social-links svg {
  width: 50px;
  height: 50px;
  fill: pink;
}

.social-links svg:hover {
  cursor: pointer;
}

.social-links svg:hover circle {
  fill: #4151cc;
}

.social-links svg:hover .i {
  fill: white;
}

.social-links ul {
  list-style-type: none;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  display: inline-block;
  width: 12%;
}

.copyright {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 200px;
  font-size: .25em;
  font-weight: lighter;
  color: darkgrey;
}

@media (max-width: 762px) {
  .subtitle {
    display: none;
  }
}

@media (max-width: 568px) {
    .header-nav-links {
      /*display: inline-block;*/
    }


    .header-nav-links ul {
      display: inline-block;
      width: 100%

    }
    .menu-sidebar {
      display: none;
    }

    .hot-spot {
      display: none;
    }

    /*.menu-components-wrapper {
      display: none;
    }*/

    .wrapper {
      width: 100%;
      left: 0;
      position: absolute;
    }

    li.projects {
      display: inline;
    }

    .logo h1 {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .header-nav-links ul {
      margin-right: calc(50% - 200px);
      margin-left: calc(50% - 200px);
      float: none;
      list-style-type: none;
      text-align: center;
      width: 400px;
      height: 100%;
    }

    .nav-buttons {
      font-size: .8em;
      width: 50%;
    }


}

@media (max-width: 400px){


  .header-nav-links ul .contact {
    /*border-right: 2px solid #3D4A8A;*/
  }
  .header-nav-links ul .projects {
    /*border-left: 2px solid #3D4A8A;*/
    ;
  }
  .header-nav-links {
    /*height: 220px;*/
  }


}
