.lion-content {
    position: relative;
    background-color: teal;
    /*display: block;*/
    height: 100%
    width: 100%;
    /*display: none;*/
    overflow: auto;
    display: none;
}

.lion-main {
  background-color: #4D8D94;
  width: calc(100% - 460px);
  height: 650px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.liontext {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: red;
}

.left-lion {
  display: inline;
  float: left;
  position: relative;
  background-color: red;
  width: 230px;
  height: 650px;
}

.right-lion {
 display: inline;
 float: left;
 position: relative;
 background-color: red;
 width: 230px;
 height: 650px;
}

.lion-header h1 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-family: 'Martel Sans';
  color: #fff;
  font-weight: 100;
  padding-top: 8px;
}


 .lion-buttons {
  color: white;
  height: auto;
  /*border: 1px solid #4D8D94;*/
  background-color: #474550;
  width: auto;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lion-buttons ul {
  text-decoration: none;
  float: left;
  margin: 0;
  padding: 0;
}

.lion-buttons li {
  display: inline;
  width: 120px;
}

.get-new {
  float: left;
  padding: 5px;
  background-color: #474550;
}


.about-lf:hover {
  background-color: #505050;
  cursor: pointer;
}

.get-new:hover {
  background-color: #505050;
  cursor: pointer;
}

.about-lf {
  float: right;
  padding: 5px;

  background-color: #474550;
}

.fact-order {
  clear: both;
  font-size: 10px;
  color: whitesmoke;
}

.lionarticle {
  display: table-cell;
  table-layout:fixed;
  vertical-align: middle;
  line-height: normal;
  padding: 45px;
  text-align: inherit;
}



i {
  font-style: italic;
}

@media (min-width: 1132px) {
  .top-lion, .bottom-lion {
    display: none;
  }
}

@media (max-width: 1132px) {
 .left-lion, .right-lion {
    display: none;
  }
  .top-lion, .bottom-lion {
    display: block;
  }
  .lion-main {
    float: none;
    width: 80%;
    height: auto;
  }

  .liontext {
    width: auto;
    height: auto;
  }
  .lion-buttons {
    width: auto;
  }

}

@media (max-width: 568px) {
  /*.top-lion {
    display: block;
  }
  .bottom-lion {
    display: block;
  }*/
  .lion-main {
    width: 100%;
  }
  .liontext {
    width: 100%;
  }
  .lion-buttons {
    width: 100%;
  }
  .lion-main img {
    display: block;
    width: 100%;
  }

}
