.contact-modal {
  background-color: #ECECEC;
  margin: auto;
  padding: 20px;
  padding-right: 25px;
  width: 50%;
  height: 60%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;
  color: #2c2c2c;
  opacity: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  -webkit-transition:
    -webkit-transform 250ms cubic-bezier(0.4, 0.46, 0.32, 1.275),
    opacity 250ms ease-in;
  transition:
    transform 250ms cubic-bezier(0.4, 0.46, 0.32, 1.275),
    opacity 250ms ease-in;
  -webkit-transform: rotateX(90deg) scale(0.78);
  transform: rotateX(90deg) scale(0.78);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 9999;
  border-radius: 10px;
  min-width: 380px;
  min-height: 380px;
}

.contact-modal.open {
  display: block;
  opacity: 1;
  -webkit-transform: rotateX(0deg) scale(1);
  transform: rotateX(0deg) scale(1);
}
.contact-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: color 125ms ease;
  transition: color 125ms ease;
}

.contact-modal .close:hover { color: #666; }

.contact-modal form {
  height: 95%;
}

.contact-modal input, .contact-modal textarea {
  font-weight: 200;
  width: 100%;
  border: 1px solid red;
  border-radius: 2px;
  margin: 3px;
  background-color: white;
}

.contact-modal textarea {
  height: 60%;
  font-size: 13px;
}

.contact-modal button {
  float: right;
  padding: 0px 7px;
  padding-top: 3px;
  border: 1px solid red;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: pink;
  font-weight: bold;
  color: #2c2c2c;
}
.contact-modal button:hover {
  background-color: #2c2c2c;
  color: white;
}
