
.moon-content {
  position: relative;
  background-color: #282C34;
  display: block;
  height: auto;
  overflow: auto;
  height: 100%;
  padding: 25px;
  /*display: none;*/
}

.moon-carousel {
	position: relative;
  float: right;
	height: auto;
	width: 52%;
  margin-bottom: 35px;
}

.moon-carousel-items {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.moon-display {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.moon-slide img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

#chevron-right, #chevron-left {
  position: absolute;
  display: block;
  margin-top: 50%;
  margin-left: 90%;
  width: 10%;
  height: 10%;
  z-index: 33;
  fill: white;
  opacity: .5;
}

#chevron-left {
  margin-left: 0;
}

#chevron-right:hover, #chevron-left:hover {
  opacity: .8;
}

#moon-1 {
  /*z-index: 10;*/
}

.moon-slide {
  position: absolute;
  width: auto;
  height: auto;
  display: inline-block;
}

/*#moon-curtain {
  z-index: 32;
  background-color: black;
  width: 100%;
  opacity: 1;
  display: inline-block;
  position: absolute;
}*/

.moon-about {
  position: relative;
  float: left;
  width: 45%;
  /*max-height: 750px;*/
  height: 100%;
  margin-right: 0px;
  margin-bottom: 35px;
  background-color: grey;
  min-height: 500px;
}

.moon-about li {
  float: left;
  text-align: center;
  width: 50%;
}

.moon-article, .moon-credits {
  margin: 10%;
  margin-top: 0px;
  font-size: 1.1em;
  color: #d8dac6;
  line-height: 32px;
  font-weight: 100;
  list-style-type: none;
}

.moon-credits {
  display: none;
  color:  #161414;
  font-weight: 300;
  font-size: 1em;
}

.moon-credits p {
  padding-bottom: 5px;
  color: #95afc1;
}

.moon-credits li {
  line-height: 40px;
  font-size: 1.1em;
  width: 100%;
  color: white;
}

.moon-about h1 {
  padding-top: 5%;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  color: #F9FB90;
  font-weight: 200;
}

.moon-about ul {
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  padding-bottom: 12%;
  width: 90%;
  font-weight: 100;
  color: #EEE8D8;
}

.moon-header a:hover {
  color: #f7ff9a;
}

.transparent {
  background-color: rgba(90, 90, 90, 0.5);
  border-radius: 1.5px;
}

.secret-moon {
  position: relative;
  height: 160px;
  width: 50%;
  display: block;
  /*padding-right: 125px;*/
  padding-top: 55px;
  float: right;
  background-color: none;
  display: none;
}
.secret-moon-png {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}



.moon-carousel img {
	max-width: 100%;
	/*display: block;*/
}

#moon-pager {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 20px 0;
	z-index: 10;
	width: 100%;
}


#moon-pager a:hover,
{
	background: #000;
}

#moon-pager a {
	display: inline;
	height: auto;
	width: auto;
}

.thumbs {
	display: inline;
	height: auto;
	width: auto;
}

.thumbs img {
	display: inline;
	height: 10%;
	width: 10%;
	border: 2px black solid;
}

.thumbs img:hover {
	border: 2px white solid;
}


#moon-pager {
	text-align:center;
}



@media(max-width: 1300px){
  .moon-about article {
    line-height: 22px;
  }
}

@media(max-width: 1050px){
  .secret-moon {
    display: block;
  }
}

@media(max-width: 960px){
  .moon-about article {
    line-height: 22px;
  }
    .secret-moon {
      /*display: none;*/
    }
  }

@media(max-width: 718px){

  .secret-moon {
    display: none;
  }
  .moon-carousel {
    width: 100%;
    float: left;
  }

  .moon-about {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-weight: 100;
  }

  .moon-about ul {
    padding-top: 4%;
    padding-bottom: 12%;
  }
}

@media(max-width: 718px){
  .moon-about article {
    line-height: 32px;
  }
}

@media(max-width: 320px){
  .thumbs img {
  	height: 8%;
  	width: 8%;
  }

  .moon-about {
    height: auto;
    font-size: .7em;
  }
}
